.clear {clear: both}
#message_area {
    border: 2px solid black;
    padding: 5px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}

.left-bar {
    width: 290px;
    float: left;
}

.right-bar {
    margin-left: 300px;
}

#commandList p {
    margin: 5px;
    padding: 3px 8px;
    background-color: #7cafe2;
    overflow: hidden;
}

#commandList p:hover {
    background-color: #a6c0db;
    cursor: pointer;
}

.mainMenu .element {
    float: left;
    padding: 5px 10px;
}

.mainMenu select {
    min-width: 120px;
}